{% extends 'base_generic.html' %}
{% block title %}
    Registration Complete - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Registration Complete</h1>
    <p>Your account has been registered!</p>
{% endblock content %}
