{% extends "base.html" %}

{% block content %}

{% for obj in obj_list %}

    <a href='{% url "bio_detail" id=obj.id %}'>
        <img src='{{ obj.avatar_image.url }}' /><br/>
    </a>

    <a href='{% url "bio_detail" id=obj.id %}'>{{obj.first_name}}&nbsp{{obj.last_name}}</a><br/>
    {{obj.country}}, {{obj.state}}, {{obj.city}}
    <br/><br/>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if obj_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ obj_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
        </span>

        {% if obj_list.has_next %}
            <a href="?page={{ obj_list.next_page_number }}">next</a>
            <a href="?page={{ obj_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
