{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated and instance_profile.user == user %}
        <a href="{% url 'bio_update' id=instance_profile.id %}">Edit</a>
        <br/><br/>
    {% endif %}

    <img src='{{ instance_profile.avatar_image.url }}' />
    <br/>

    {{instance_profile.first_name}}&nbsp{{instance_profile.last_name}}<br/>
    {{instance_profile.email}}<br/>
    {{instance_profile.country}}, {{instance_profile.state}}, {{instance_profile.city}}
    <br/><br/>

    {{instance_bio.biography_text}}<br/><br/>

    Links:<br/>

    {% if instance_work_links.work_link1 %}
        <a href='{{instance_work_links.work_link1}}'>{{instance_work_links.description_work_link1}}</a><br/>
    {% endif %}

    {% if instance_work_links.work_link2 %}
        <a href='{{instance_work_links.work_link2}}'>{{instance_work_links.description_work_link2}}</a><br/>
    {% endif %}

    {% if instance_work_links.work_link3 %}
        <a href='{{instance_work_links.work_link3}}'>{{instance_work_links.description_work_link3}}</a><br/>
    {% endif %}

{% endblock %}
