<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block title %}<title>EGCM - Site</title>{% endblock %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="header">
            <h2>EGCM Site</h2>
            <nav>
                <a href="{% url 'index' %}">Home</a> |

                {% if user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}">Logout</a> |
                {% else %}
                    <a href="{% url 'auth_login' %}">Login</a> |
                    <a href="{% url 'registration_register' %}">Register</a> |
                {% endif %}
                <a href="{% url 'bio_list' %}">Artistas</a> |
            </nav>
        </div>
        {% include "messages_display.html" %}
        <br/>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
